[Desktop Entry]
Type=Application
Version=1.0
Name=SCX GUI
Comment=GUI frontend for the installed scx package
GenericName=Scheduler Frontend
Exec=scx-gui
TryExec=scx-gui
Terminal=false
StartupNotify=true
Icon=applications-system
Categories=Settings;
Keywords=scx;scheduler;sched_ext;
